#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    text-align: center;
}
input{
    margin: 10px;
}